<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
        <!--Javascrip Belum Beres-->
        <script type="text/javascript" src="/../js/dr.js"></script>
    </head>
    <body>
        <%- include Layout/menu.ejs %>
        asdasdas
    </body>
</html>